.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 25px;
  background-color: blueviolet;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.navLinks {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navLinks a:hover {
  text-decoration: underline;
  color: #f2b353;
}

